*{
    margin:0px;
    padding:0px;
}
.contactus{
    height: 40vh;
    width: 100vw;
}
.contactus pre{
    font-size: 38px;
    font-family: karma;
    position: absolute;
    top:200px;
    left:100px;
}
.contactus h1{
    font-size: 21px;
    font-family: karma;
    position: absolute;
    top:320px;
    left:150px;
}
.sendmessage{
    height:430px;
    width:300px;
    position: absolute;
    top:150px;
    left:750px;
    box-shadow: 0 0 8px #32C7FF;
    border-radius: 10px;
    border:1px solid #32C7FF;
}
.sendmessage h1{
    font-size: 21px;
    font-family: karma;
    position: absolute;
    top:20px;
    left:50px;
}
.sendmessage img{
    height: 21px;
    width: 21px;
    position: absolute;
    top: 23px;
    left: 220px;
}
.name{
    height:30px;
    width:190px;
    position: absolute;
    top:60px;
    left:40px;
    font-family: karma;
}
.mail{
    height:30px;
    width:190px;
    position: absolute;
    top:120px;
    left:40px;
    font-family: karma;
}
.subject{
    height:30px;
    width:190px;
    position: absolute;
    top:180px;
    left:40px;
    font-family: karma;
}
.problem{
    justify-content: right;
    height:90px;
    width:190px;
    position: absolute;
    top:240px;
    left:40px;
    font-family: karma;
    font-size: 21px;
}
.submit{
    position: absolute;
    top:360px;
    left:80px;
    height:40px;
    width:80px;
    font-size: 21px;
    font-family: karma;
    background-color: #32C7FF;
    border:2px solid #32C7FF;
    border-radius: 10px;
}
.submit:hover{
    box-shadow: 0 0 8px 0 red;
    background-color: black;
    color: white;
    border:2px solid black;
}
.emailcontact{
    height:100px;
    width:200px;
    position: absolute;
    top:450px;
    left:100px;
    border:1px solid #32C7FF;
    box-shadow: 0 0 8px #32C7FF;
}
.emailcontact h1{
    font-family: karma;
    font-size: 32px;
    text-align: center;
}
.emailcontact a{
    position: absolute;
    top:50px;
    left:60px;
    font-family: karma;
    font-size: 21px;
}
.mailimage{
    height:22px;
    width:22px;
    position: absolute;
    top:55px;
    left:10px;
}
@media only screen and (min-width:500px) and (max-width:1000px){
    .contactus{
        height: 40vh;
        width: 100vw;
    }
    .contactus pre{
        font-size: 7vw;
        font-family: karma;
        position: absolute;
        top: 200px;
        left: 5vw;
    }
    .contactus h1{
        font-size: 4vw;
        font-family: karma;
        position: absolute;
        top: 45vh;
        left: 21vw;
    }
    .sendmessage{
        height: 60vh;
        width: 90vw;
        position: absolute;
        top: 90vh;
        left: 5vw;
        box-shadow: 0 0 8px #32c7ff;
        border-radius: 10px;
        border: 1px solid #32C7FF;
    }
    .sendmessage h1{
        font-size: 5vw;
        font-family: karma;
        position: absolute;
        top: 20px;
        left: 17vw;
    }
    .sendmessage img{
        height: 4vh;
        width: 4vw;
        position: absolute;
        top: 2.4vh;
        left: 58vw;
    }
    .name{
        height: 4vh;
        width: 50vw;
        position: absolute;
        top: 10vh;
        border: 1px solid black;
        left: 17vw;
        font-size: 3vw;
        font-family: karma;
    }
    .mail{
        height: 4vh;
        width: 50vw;
        position: absolute;
        top: 17vh;
        font-size: 3vw;
        border: 1px solid black;
        left: 17vw;
        font-family: karma;
    }
    .subject{
        height: 4vh;
        width: 50vw;
        position: absolute;
        top: 24vh;
        border: 1px solid black;
        left: 17vw;
        font-size: 3vw;
        font-family: karma;
    }

    .problem{
        justify-content: center;
        height: 10vh;
        width: 50vw;
        position: absolute;
        top: 32vh;
        left: 17vw;
        border: 1px solid black;
        font-family: karma;
        font-size: 4vw;
    }
    .submit{
        position: absolute;
        top: 50vh;
        left: 38vw;
        height: 40px;
        width: 80px;
        font-size: 21px;
        font-family: karma;
        background-color: #32C7FF;
        border: 2px solid #32C7FF;
        border-radius: 10px;
    }
    .submit:hover{
        box-shadow: 0 0 8px 0 red;
        background-color: black;
        color: white;
        border:2px solid black;
    }
    .emailcontact{
        height: 13vh;
        width: 35vw;
        position: absolute;
        top: 61vh;
        left: 32vw;
        border: 1px solid #32C7FF;
        box-shadow: 0 0 8px #32c7ff;
    }
    .emailcontact h1{
        font-family: karma;
        font-size: 32px;
        text-align: center;
    }
    .emailcontact a{
        position: absolute;
        top:50px;
        left:60px;
        font-family: karma;
        font-size: 3vw;
    }
    .mailimage{
        height:22px;
        width:22px;
        position: absolute;
        top:55px;
        left:10px;
    }
}
@media only screen and (min-width:500px) and (max-width:1000px){
    .contactus{
        height: 40vh;
        width: 100vw;
    }
    .contactus pre{
        font-size: 7vw;
        font-family: karma;
        position: absolute;
        top: 200px;
        left: 5vw;
    }
    .contactus h1{
        font-size: 4vw;
        font-family: karma;
        position: absolute;
        top: 45vh;
        left: 21vw;
    }
    .sendmessage{
        height: 60vh;
        width: 90vw;
        position: absolute;
        top: 90vh;
        left: 5vw;
        box-shadow: 0 0 8px #32c7ff;
        border-radius: 10px;
        border: 1px solid #32C7FF;
    }
    .sendmessage h1{
        font-size: 5vw;
        font-family: karma;
        position: absolute;
        top: 20px;
        left: 17vw;
    }
    .sendmessage img{
        height: 4vh;
        width: 4vw;
        position: absolute;
        top: 2.4vh;
        left: 58vw;
    }
    .name{
        height: 4vh;
        width: 50vw;
        position: absolute;
        top: 10vh;
        border: 1px solid black;
        left: 17vw;
        font-size: 3vw;
        font-family: karma;
    }
    .mail{
        height: 4vh;
        width: 50vw;
        position: absolute;
        top: 17vh;
        font-size: 3vw;
        border: 1px solid black;
        left: 17vw;
        font-family: karma;
    }
    .subject{
        height: 4vh;
        width: 50vw;
        position: absolute;
        top: 24vh;
        border: 1px solid black;
        left: 17vw;
        font-size: 3vw;
        font-family: karma;
    }

    .problem{
        justify-content: center;
        height: 10vh;
        width: 50vw;
        position: absolute;
        top: 32vh;
        left: 17vw;
        border: 1px solid black;
        font-family: karma;
        font-size: 4vw;
    }
    .submit{
        position: absolute;
        top: 50vh;
        left: 38vw;
        height: 40px;
        width: 80px;
        font-size: 21px;
        font-family: karma;
        background-color: #32C7FF;
        border: 2px solid #32C7FF;
        border-radius: 10px;
    }
    .submit:hover{
        box-shadow: 0 0 8px 0 red;
        background-color: black;
        color: white;
        border:2px solid black;
    }
    .emailcontact{
        height: 13vh;
        width: 35vw;
        position: absolute;
        top: 61vh;
        left: 32vw;
        border: 1px solid #32C7FF;
        box-shadow: 0 0 8px #32c7ff;
    }
    .emailcontact h1{
        font-family: karma;
        font-size: 32px;
        text-align: center;
    }
    .emailcontact a{
        position: absolute;
        top:50px;
        left:60px;
        font-family: karma;
        font-size: 3vw;
    }
    .mailimage{
        height:22px;
        width:22px;
        position: absolute;
        top:55px;
        left:10px;
    }
}
@media only screen and (min-width:200px) and (max-width:500px){
    .contactus{
        height: 40vh;
        width: 100vw;
    }
    .contactus pre{
        font-size: 7vw;
        font-family: karma;
        position: absolute;
        top: 200px;
        left: 5vw;
    }
    .contactus h1{
        font-size: 4vw;
        font-family: karma;
        position: absolute;
        top: 45vh;
        left: 21vw;
    }
    .sendmessage{
        height: 60vh;
        width: 90vw;
        position: absolute;
        top: 90vh;
        left: 5vw;
        box-shadow: 0 0 8px #32c7ff;
        border-radius: 10px;
        border: 1px solid #32C7FF;
    }
    .sendmessage h1{
        font-size: 5vw;
        font-family: karma;
        position: absolute;
        top: 20px;
        left: 17vw;
    }
    .sendmessage img{
        height: 4vh;
        width: 4vw;
        position: absolute;
        top: 2.4vh;
        left: 58vw;
    }
    .name{
        height: 4vh;
        width: 50vw;
        position: absolute;
        top: 10vh;
        border: 1px solid black;
        left: 17vw;
        font-size: 3vw;
        font-family: karma;
    }
    .mail{
        height: 4vh;
        width: 50vw;
        position: absolute;
        top: 17vh;
        font-size: 3vw;
        border: 1px solid black;
        left: 17vw;
        font-family: karma;
    }
    .subject{
        height: 4vh;
        width: 50vw;
        position: absolute;
        top: 24vh;
        border: 1px solid black;
        left: 17vw;
        font-size: 3vw;
        font-family: karma;
    }

    .problem{
        justify-content: center;
        height: 10vh;
        width: 50vw;
        position: absolute;
        top: 32vh;
        left: 17vw;
        border: 1px solid black;
        font-family: karma;
        font-size: 4vw;
    }
    .submit{
        position: absolute;
        top: 50vh;
        left: 38vw;
        height: 40px;
        width: 80px;
        font-size: 21px;
        font-family: karma;
        background-color: #32C7FF;
        border: 2px solid #32C7FF;
        border-radius: 10px;
    }
    .submit:hover{
        box-shadow: 0 0 8px 0 red;
        background-color: black;
        color: white;
        border:2px solid black;
    }
    .emailcontact{
        height: 13vh;
        width: 35vw;
        position: absolute;
        top: 61vh;
        left: 32vw;
        border: 1px solid #32C7FF;
        box-shadow: 0 0 8px #32c7ff;
    }
    .emailcontact h1{
        font-family: karma;
        font-size: 29px;
        text-align: center;
    }
    .emailcontact a{
        position: absolute;
        top: 50px;
        left: 12vw;
        font-family: karma;
        font-size: 4vw;
    }
    .mailimage{
        height:22px;
        width:22px;
        position: absolute;
        top:55px;
        left:10px;
    }
}
.footer{
    width: 100vw;
    height: 50vh;
    background-color: rgba(151, 149, 149, 1);
    position: absolute;
    top: 105vh;
}
@media only screen and (min-width:200px) and (max-width:1000px) {
    .footer{
        width: 100vw;
        height: 50vh;
        background-color: rgba(151, 149, 149, 1);
        position: absolute;
        top: 180vh;
        }
    }