*{
    margin:0px;
    padding:0px;
}


.footer h1{
    font-size: 7vw;
    font-family: karma;
    position: absolute;
    top: 1vh;
    left: 32vw;
}
.footer img{
    display: inline-block;
    height: 3vh;
    width: 3vw;
    margin: -1px 3vw;
    position: relative;
    left: 33vw;
    top: 25vh;
}
.footer h6{
    position: absolute;
    top: 40vh;
    left: 45.5vw;
    font-family: karma;
    font-size: 1.4vw;
}
@media only screen and (min-width:200px) and (max-width:500px){
    .footer h1{
        font-size: 12vw;
        font-family: karma;
        position: absolute;
        top: 5vh;
        left: 17vw;
    }
    .footer img{
        display: inline-block;
        height: 3vh;
        width: 3vw;
        margin: -1px 2vw;
        position: relative;
        left: 35vw;
        top: 16vh;
    }
    .footer h6{
        position: absolute;
        top: 25vh;
        left: 40.5vw;
        font-family: karma;
        font-size: 2.4vw;
    }
}
@media only screen and (min-width:500px) and (max-width:1000px){
    .footer h1{
        font-size: 10vw;
        font-family: karma;
        position: absolute;
        top: 2vh;
        left: 22vw;
    }
    .footer img{
        display: inline-block;
        height: 3vh;
        width: 3vw;
        margin: -1px 5vw;
        position: relative;
        left: 23vw;
        top: 20vh;
    }
    .footer h6{
        position: absolute;
        top: 31vh;
        left: 40.5vw;
        font-family: karma;
        font-size: 2.4vw;
    }
}