*{
    margin:0px;
    padding: 0px;
}
video{
    position: relative;
    top:5vh;
}
.landpage{
    height: 13vh;
    width: 100vw;
    z-index: 1;
    position:fixed;
    top:-1vh;
    left:0vw;
    background-color:#32C7FF;
}
.landpage h1{
    font-size: 55px;
    font-family: karma;
    color:black;
    position: absolute;
    top:1vh;
    left:5vw;

}
.landbtn{
    height: 7vh;
    width:20vw;
    background-color: transparent;
    position: absolute;
    top:3vh;
    left:65vw;
    font-family: karma;
    font-size: 22px;
    border: 1px solid black;
    border-radius: 5px;
    color:black;
}
.landbtn:hover{
    background-color: black;
    color:white;
}
.herosection {
    height:30vh;
    position: relative;
    left:0vw;
    top:20vh;
}
.herosection h1{
    position: absolute;
    left:43vw;
    font-size: 32px;
    font-family: karma;
}
.herosection p{
    position: absolute;
    top:10vh;
    left: 17vw;
    font-size: 21px;
    font-family: karma;
    tab-size:5;
    text-align: center;
}
.games{
    height:300vh;
    position: relative;
    top:25vh;
}
.games h1{
    height: 10vh;
    width:50vw;
    position: absolute;
    top:5vh;
    left:28vw;
    font-size: 32px;
    font-family: karma;
    text-align: center;
    border-bottom: 2px solid #32C7FF;
}
.freefire img{
    width:50vw;
    height:60vh;
    position: absolute;
    top:30vh;
    left:3vw;
    border-radius: 10px;
    box-shadow: 0 0 8px 0;
}
.freefire p{
    position: absolute;
    top:35vh;
    left:57vw;
    font-family: karma;
    font-size: 21px;
}
.bgmi p{
    position: absolute;
    top:130vh;
    left:1vw;
    font-family: karma;
    font-size: 21px;
}
.bgmi img{
    position: absolute;
    top:120vh;
    left:51vw;
    height:50vh;
    width:45vw;
    border-radius: 10px;
    box-shadow: 0 0 8px 0;
}
.cod img{
    height:50vh;
    width:45vw;
    position: absolute;
    top:275vh;
    left:5vw;
    border-radius: 10px;
    box-shadow: 0 0 8px 0;
}
.cod pre{
    position: absolute;
    top:285vh;
    left:53vw;
    font-size: 21px;
    font-family: karma;
}
.kuu{
    position:relative;
    height: 100vh;
    width: 100vw;
}
.kuu h1{
    font-size:36px;
    font-family: karma;
    position: absolute;
    left:40vw;
    border-bottom:2px solid #32C7FF;
    height:8vh;
    width:25vw;
    text-align: center;
}
.aboutus{
    height:660px;
    width:100%;
    background-color: #32C7FF;
}
.aboutus p{
    font-family: karma;
    font-size: 42px;
    position: absolute;
    top:200px;
    left:50px;
}
.a{
    position: absolute;
    top: 500px;
    left:150px;
    font-family: karma;
    font-size: 20px;
    margin: 20px 3px;
}
.b{
    position: absolute;
    top: 550px;
    left:150px;
    font-family: karma;
    font-size: 20px;
    margin: 20px 3px;
}
.aboutus img{
    height:700px;
    width:500px;
    position: absolute;
    top:40px;
    left:700px;
}

.security{
    position: absolute;
    top:30vh;
    left:50px;
    border:1px solid white;
    box-shadow: 0 0 8px 0 #32C7FF;
    height:300px;
    width:325px;
}
.security:hover{
    background-color:#32C7FF;
    color: black;
    border-radius: 20px;
    box-shadow: 0 0 8px 0 black;
}
.security img{
    height: 32px;
    width: 32px;
    position: absolute;
    top: 55px;
    left: 155px;
}
.security p{
    position: relative;
    top:130px;
    text-align: center;
    font-family: karma;
    font-size: 20px;
}
.fast{
    position: absolute;
    top:30vh;
    left:479px;
    border:1px solid white;
    box-shadow: 0 0 8px 0 #32C7FF;
    height:300px;
    width:325px;
}
.fast:hover{
    background-color:#32C7FF;
    color: black;
    border-radius: 20px;
    box-shadow: 0 0 8px 0 black;
}
.fast img{
    height: 32px;
    width: 32px;
    position: absolute;
    top: 55px;
    left: 155px;
}
.fast p{
    position: relative;
    top:130px;
    text-align: center;
    font-family: karma;
    font-size: 20px;
}
.money{
    position: absolute;
    top:30vh;
    left:895px;
    border:1px solid white;
    box-shadow: 0 0 8px 0 #32C7FF;
    height:300px;
    width:325px;
}
.money:hover{
    background-color:#32C7FF;
    color: black;
    border-radius: 20px;
    box-shadow: 0 0 8px 0 black;
}
.money img{
    height: 32px;
    width: 32px;
    position: absolute;
    top: 55px;
    left: 155px;
}
.money p{
    position: relative;
    top:130px;
    text-align: center;
    font-family: karma;
    font-size: 20px;
}
@media only screen and (min-width:200px) and   (max-width:500px) {
    video {
        position: relative;
        top: 5vh;
        height: 90vh;
        width: 88vw;
    }
    .landpage h1 {
        font-size: 33px;
        font-family: karma;
        color: black;
        position: absolute;
        top: 4vh;
        left: 2vw;
    }
    .landbtn {
        height: 5vh;
        width: 33vw;
        background-color: transparent;
        position: absolute;
        top: 4.5vh;
        left: 65vw;
        font-family: karma;
        font-size: 13px;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
    }
    .herosection h1 {
        position: absolute;
        top:-10vh;
        left: 19vw;
        font-size: 31px;
        font-family: karma;
        height: 7vh;
        width:60vw;
        text-align: center;
        border-bottom: 2px solid #32C7FF;
    }
    .herosection p {
        position: absolute;
        top: 5vh;
        left: 1vw;
        font-size: 16px;
        font-family: karma;
        /* tab-size: 5; */
        text-align: center;
    }
    .games h1 {
        height: 10vh;
        width: 90vw;
        position: absolute;
        top: 5vh;
        left: 5vw;
        font-size: 25px;
        font-family: karma;
        text-align: center;
        border-bottom: 2px solid #32C7FF;
    }
    .freefire img {
        width: 100vw;
        height: 50vh;
        position: absolute;
        top: 30vh;
        left: 0vw;
        border-radius: 10px;
        box-shadow: 0 0 8px 0;
    }
    .freefire p {
        position: absolute;
        top: 32vh;
        left: 0vw;
        font-family: karma;
        font-size: 1px;
        visibility: hidden;
    }
    .bgmi p {
        position: absolute;
        top: 130vh;
        left: 1vw;
        font-family: karma;
        font-size: 2px;
        visibility: hidden;
    }
    .bgmi img {
        position: absolute;
        top: 100vh;
        left: 0vw;
        height: 50vh;
        width: 100vw;
        border-radius: 10px;
        box-shadow: 0 0 8px 0;
    } 
    .cod pre {
        position: absolute;
        top: 380vh;
        left: 3vw;
        font-size: 1px;
        font-family: karma;
        visibility: hidden;
    }  
    .cod img {
        height: 50vh;
        width: 100vw;
        position: absolute;
        top: 316vh;
        left: 0vw;
        border-radius: 10px;
        box-shadow: 0 0 8px 0;
    } 
    .kuu h1 {
        font-size: 22px;
        font-family: karma;
        position: absolute;
        left: 24vw;
        top: -40vh;
        border-bottom: 2px solid #32C7FF;
        height: 5vh;
        width: 50vw;
        text-align: center;
    }
    .aboutus{
        height: 220vh;
        width: 100%;
        background-color: #32C7FF;
    }
    .aboutus p{
        font-family: karma;
        font-size: 12vw;
        position: absolute;
        top: 27vh;
        left: 5vw;
    }
    .a{
        position: absolute;
        top: 95vh;
        left: 8vw;
        font-family: karma;
        font-size: 6vw;
        margin: 20px 3px;
    }
    .b{
        position: absolute;
        top: 105vh;
        left: 8vw;
        font-family: karma;
        font-size: 6vw;
        margin: 20px 3px;
    }
    .aboutus img{
        height: 100vh;
        width: 117vw;
        position: absolute;
        top: 120vh;
        left: -18vw;
    }
    .about{
        height: 200vh;
        width: 100%;
    }
    .about h1{
        position: absolute;
        top: 230vh;
        left: 5vw;
        font-family: karma;
        font-size: 12vw;
        margin: 20px 3px;
    }
    .about h4{
        position: absolute;
        top: 241vh;
        left: 15vw;
        font-family: karma;
        font-size: 6vw;
        margin: 20px 3px;
    }
    .security{
        position: absolute;
        top: -20vh;
        left: 4.5vw;
        border: 1px solid white;
        box-shadow: 0 0 8px 0 #32c7ff;
        height: 40vh;
        width: 90vw;
    }
    .security:hover{
        background-color:#32C7FF;
        color: black;
        border-radius: 20px;
        box-shadow: 0 0 8px 0 black;
    }
    .security img{
        height: 32px;
        width: 32px;
        position: absolute;
        top: 55px;
        left: 42vw;
    }
    .security p{
        position: relative;
        top:130px;
        text-align: center;
        font-family: karma;
        font-size: 20px;
    }
    .fast{
        position: absolute;
        top: 35vh;
        left: 4.5vw;
        border: 1px solid white;
        box-shadow: 0 0 8px 0 #32c7ff;
        height: 40vh;
        width: 90vw;
    }
    .fast:hover{
        background-color:#32C7FF;
        color: black;
        border-radius: 20px;
        box-shadow: 0 0 8px 0 black;
    }
    .fast img{
        height: 32px;
        width: 32px;
        position: absolute;
        top: 55px;
        left: 42vw;
    }
    .fast p{
        position: relative;
        top:130px;
        text-align: center;
        font-family: karma;
        font-size: 20px;
    }
    .money{
        position: absolute;
        top: 91vh;
        left: 4.5vw;
        border: 1px solid white;
        box-shadow: 0 0 8px 0 #32c7ff;
        height: 40vh;
        width: 90vw;
    }
    .money:hover{
        background-color:#32C7FF;
        color: black;
        border-radius: 20px;
        box-shadow: 0 0 8px 0 black;
    }
    .money img{
        height: 32px;
        width: 32px;
        position: absolute;
        top: 55px;
        left: 42vw;
    }
    .money p{
        position: relative;
        top:130px;
        text-align: center;
        font-family: karma;
        font-size: 20px;
    }
}