*{
    margin:0px;
    padding:0px;
 }
 .login img{
     height:100vh;
     width:50vw;
     border-radius: 10px;
 }
 .login h1{
     position: absolute;
     top:10vh;
     left:5vw;
     color:white;
     font-size: 60px;
     font-family: karma;
 }
 .login p{
     position: absolute;
     top:40vh;
     left:5vw;
     color:white;
     font-size: 20px;
     font-family: karma;
 }
 .logindiv{
     animation-name: firstanimation;
     animation-duration: 8s;
     animation-iteration-count: infinite;
     height: 400px;
     width: 400px;
     /* background-color: #32C7FF; */
     position: absolute;
     top: 150px;
     left: 730px;
     border-radius: 20px;
 }
 @keyframes firstanimation {
     0% {
        transform:rotateY(0deg)
     }
     50%{
         transform:rotateY(-30deg)
     }
     100%{
         transform:rotateY(0deg)
     }
 }
 .mailimage{
     height:22px;
     width:22px;
     position: absolute;
     top:120px;
     left:90px;
 }
 .key1{
     height:22px;
     width:22px;
     position: absolute;
     top:190px;
     left:90px;
 }
 .mail{
     height: 30px;
     width: 200px;
     position: absolute;
     top: 117px;
     left: 140px;
     border-radius: 1px;
     text-align: center;
     font-size: 18px;
     border-bottom: 1px solid black;
     border-left: 0px solid black;
     border-right: 0px solid black;
     border-top: 0px solid black;
     outline:none;
 }
 .password1{
     height: 30px;
     width: 200px;
     position: absolute;
     top: 187px;
     left: 140px;
     border-radius: 1px;
     text-align: center;
     font-size: 18px;
     border-bottom: 1px solid black;
     border-left: 0px solid black;
     border-right: 0px solid black;
     border-top: 0px solid black;
     outline:none;
 }
 .logindiv a{
     position:absolute;
     top: 250px;
     left:150px;
     text-decoration: none;
     font-family: karma;
     font-size: 17px;
 }
 .logindiv a:hover{
     color:red;
 }
 .logindiv button{
     height: 40px;
     width: 90px;
     position: absolute;
     top: 280px;
     left: 190px;
     border-radius: 5px;
     font-family: karma;
     font-size: 21px;
     border: 1px solid black;
 }
 .logindiv button:hover{
     background-color: black;
     color: white;
     box-shadow: 0 0 8px 0 red;
 }
 .logindiv h1{
     position: absolute;
     top: -10vh;
     left: 10vw;
     font-family: karma;
     font-size: 40px;
 }
 .logindiv p{
     position: absolute;
     top: 1vh;
     left: 10vw;
     font-family: karma;
     font-size: 16px;
 }
 @media only screen and ( min-width:200px ) and (max-width:500px){
     .login img{
         height:90vh;
         width:100vw;
         border-radius: 10px;
     }
     .login h1{
         position: absolute;
         top:20vh;
         left:5vw;
         color:white;
         font-size: 11vw;
         font-family: karma;
     }
     .login p{
         position: absolute;
         top:40vh;
         left:5vw;
         color:white;
         font-size: 4vw;
         font-family: karma;
     }
     .logindiv{
         animation-name: firstanimation;
         animation-duration: 8s;
         animation-iteration-count: infinite;
         height:60vh;
         width:100vw;
         /* background-color: #32C7FF; */
         position: absolute;
         top: 120vh;
         left: 0vw;
         border-radius: 20px;
     }
     @keyframes firstanimation {
         0% {
            transform:rotateY(0deg)
         }
         50%{
             transform:rotateY(-30deg)
         }
         100%{
             transform:rotateY(0deg)
         }
      }
     .mailimage{
         height:22px;
         width:22px;
         position: absolute;
         top:120px;
         left:15vw;
     }
     .key1{
         height:22px;
         width:22px;
         position: absolute;
         top:190px;
         left:15vw;
     }
     .mail{
         height: 30px;
         width: 50vw;
         position: absolute;
         top: 117px;
         left: 30vw;
         border-radius: 1px;
         text-align: center;
         font-size: 18px;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
         outline:none;
     }
     .password1{
         height: 30px;
         width: 50vw;
         position: absolute;
         top: 187px;
         left: 30vw;
         border-radius: 1px;
         text-align: center;
         font-size: 18px;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
         outline:none;
     }
     .logindiv button{
         height: 40px;
         width: 90px;
         position: absolute;
         top: 280px;
         left: 40vw;
         border-radius: 5px;
         font-family: karma;
         font-size: 21px;
         border: 1px solid black;
     }
 }
 @media only screen and ( min-width:500px ) and (max-width:1000px){
     .login img{
         height:90vh;
         width:100vw;
         border-radius: 10px;
     }
     .login h1{
         position: absolute;
         top:20vh;
         left:5vw;
         color:white;
         font-size: 11vw;
         font-family: karma;
     }
     .login p{
         position: absolute;
         top:40vh;
         left:5vw;
         color:white;
         font-size: 28px;
         font-family: karma;
     }
     .logindiv{
         animation-name: firstanimation;
         animation-duration: 8s;
         animation-iteration-count: infinite;
         height:60vh;
         width:100vw;
         /* background-color: #32C7FF; */
         position: absolute;
         top: 120vh;
         left: 0vw;
         border-radius: 20px;
     }
     @keyframes firstanimation {
         0% {
            transform:rotateY(0deg)
         }
         50%{
             transform:rotateY(-30deg)
         }
         100%{
             transform:rotateY(0deg)
         }
      }
     .mailimage{
         height:22px;
         width:22px;
         position: absolute;
         top:120px;
         left:15vw;
     }
     .key1{
         height:22px;
         width:22px;
         position: absolute;
         top:190px;
         left:15vw;
     }
     .mail{
         height: 30px;
         width: 50vw;
         position: absolute;
         top: 117px;
         left: 30vw;
         border-radius: 1px;
         text-align: center;
         font-size: 18px;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
         outline:none;
     }
     .password1{
         height: 30px;
         width: 50vw;
         position: absolute;
         top: 187px;
         left: 30vw;
         border-radius: 1px;
         text-align: center;
         font-size: 18px;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
         outline:none;
     }
     .logindiv button{
         height: 40px;
         width: 90px;
         position: absolute;
         top: 280px;
         left: 40vw;
         border-radius: 5px;
         font-family: karma;
         font-size: 21px;
         border: 1px solid black;
     }
 }
 @media only screen and ( min-width:1000px ){
     .login img{
         height:122vh;
         width:59vw;
         border-radius: 10px;
     }
     .login h1 {
         position: absolute;
         top: 30vh;
         left: 5vw;
         color: white;
         font-size: 60px;
         font-family: karma;
     }
     .login p {
        position: absolute;
        top: 50vh;
        left: 5vw;
        color: white;
        font-size: 20px;
        font-family: karma;
    }
     .mail {
         height: 30px;
         width: 20vw;
         position: absolute;
         top: 117px;
         left: 140px;
         border-radius: 1px;
         text-align: center;
         font-size: 18px;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
         outline:none;
     }
     .password1 {
         height: 30px;
         width: 20vw;
         position: absolute;
         top: 187px;
         left: 140px;
         border-radius: 1px;
         text-align: center;
         font-size: 18px;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
         outline:none;
     }
     .logindiv {
         animation-name: firstanimation;
         animation-duration: 8s;
         animation-iteration-count: infinite;
         height: 400px;
         width: 400px;
         /* background-color: #32C7FF; */
         position: absolute;
         top: 200px;
         left: 730px;
         border-radius: 20px;
     }
     .logindiv button {
         height: 40px;
         width: 90px;
         position: absolute;
         top: 280px;
         left: 210px;
         border-radius: 5px;
         font-family: karma;
         font-size: 21px;
         border: 1px solid black;
     }
 }
 @media only screen and ( min-width:1350px ) and (max-width:2000px){
     .logindiv{
         position: absolute;
         left:70vw;
     }
 }
 @media only screen and (min-width:350px ) and (max-height:400px){
     .login img {
         height: 120vh;
         width: 100vw;
         border-radius: 10px;
     }
     .login h1 {
         position: absolute;
         top: 35vh;
         left: 5vw;
         color: white;
         font-size: 8vw;
         font-family: karma;
     }
     .login p {
         position: absolute;
         top: 60vh;
         left: 5vw;
         color: white;
         font-size: 3vw;
         font-family: karma;
     }
     .logindiv {
         animation-name: firstanimation;
         animation-duration: 8s;
         animation-iteration-count: infinite;
         height: 60vh;
         width: 100vw;
         /* background-color: #32C7FF; */
         position: absolute;
         top: 155vh;
         left: 0vw;
         border-radius: 20px;
     }
     .logindiv h1 {
         position: absolute;
         top: -25vh;
         left: 10vw;
         font-family: karma;
         font-size: 9vw;
     }
     .logindiv p {
         position: absolute;
         top: 1vh;
         left: 10vw;
         font-family: karma;
         font-size: 3vw;
     }
     .mail {
         height: 30px;
         width: 50vw;
         position: absolute;
         top: 117px;
         left: 30vw;
         border-radius: 1px;
         text-align: center;
         font-size: 3vw;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
         outline:none;
     }
     .password1 {
         height: 30px;
         width: 50vw;
         position: absolute;
         top: 187px;
         left: 30vw;
         border-radius: 1px;
         text-align: center;
         font-size: 3vw;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
         outline:none;
     }
 }
 @media only screen and (min-width:600px ) and (max-height:400px){
     .login img {
         height: 140vh;
         width: 100vw;
         border-radius: 10px;
     }
     .login h1 {
         position: absolute;
         top: 35vh;
         left: 5vw;
         color: white;
         font-size: 7vw;
         font-family: karma;
     }
     .login p {
         position: absolute;
         top: 60vh;
         left: 5vw;
         color: white;
         font-size: 2.7vw;
         font-family: karma;
     }
     .logindiv {
         animation-name: firstanimation;
         animation-duration: 8s;
         animation-iteration-count: infinite;
         height: 60vh;
         width: 100vw;
         /* background-color: #32C7FF; */
         position: absolute;
         top: 180vh;
         left: 0vw;
         border-radius: 20px;
     }
     .logindiv h1 {
         position: absolute;
         top: -25vh;
         left: 10vw;
         font-family: karma;
         font-size: 7vw;
     }
     .logindiv p {
         position: absolute;
         top: 5vh;
         left: 10vw;
         font-family: karma;
         font-size: 2.7vw;
     }
     .mail {
         height: 30px;
         width: 50vw;
         position: absolute;
         top: 117px;
         left: 30vw;
         border-radius: 1px;
         text-align: center;
         font-size: 3vw;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
         outline:none;
     }
     .password1 {
         height: 30px;
         width: 50vw;
         position: absolute;
         top: 187px;
         left: 30vw;
         border-radius: 1px;
         text-align: center;
         font-size: 3vw;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
         outline:none;
     }
}
@media only screen and (min-width:200px) and (max-width:1000px) {
.footer{
    width: 100vw;
    height: 350px;
    background-color: rgba(151, 149, 149, 1);
    position: absolute;
    top: 1490px;
    }
}
@media only screen and (min-width:1000px) and (max-width:2000px) {
    .footer{
        width: 100%;
        height: 50vh;
        background-color: rgba(151, 149, 149, 1);
        position: absolute;
        top: 120vh;
        }
}
@media only screen and (min-width: 400px) and (max-height: 400px){
    .footer{
        width: 100vw;
        height: 90vh;
        background-color: rgba(151, 149, 149, 1);
        position: absolute;
        top: 290vh;
    }
}
@media only screen and (max-height:680px) and (max-width:380px){
    .footer{
        width: 100vw;
        height: 300px;
        background-color: rgba(151, 149, 149, 1);
        position: absolute;
        top: 1230px;
    }
}

