.footer{
    width: 100%;
    height: 50vh;
    background-color: rgba(151, 149, 149, 1);
    position: absolute;
    top: 200vh;
}

.thankyouimage img{
    height: 525px;
    width: 525px;
    position: absolute;
    top: 67px;
    left: 560px;
}
.thanks h2{
    font-size: 65px;
    font-family: karma;
    position: absolute;
    left: 110px;
    top: 143px;
}
.thanks p{
    font-size: 33px;
    font-family: karma;
    position: absolute;
    left: 225px;
    top: 250px;
}
.thanks button{
    height: 50px;
    width: 150px;
    position: absolute;
    top: 400px;
    left: 250px;
    font-size: 22px;
    font-family: karma;
    border:1px solid black;
    border-radius: 20px;
    background-color: #32C7FF;;
}
.thanks button:hover{
    box-shadow: 0 0 8px 0 red;
    background-color: black;
    color:azure;

}
   