*{
    margin:0;
    padding:0;
}
.navbar{
    height:80px;;
    width:100%;
    background-color:#32C7FF;
}
.navbar h1{
    position: absolute;
    left: 70px;
    top:20px;
}
.navbar li{
    position: relative;
    left: 42%;
    display: inline-block;
    margin: 10px;
    top: 19px;
}
.navbar li a{
    
    text-decoration: none;
    color: black;
    font-family:Source Serif Pro;
    font-weight: 550;
    transition: background-color;
    transition-timing-function: ease-in;
}
.navbar li a:hover{
    border:2px solid black;
    border-radius: 100px;
    background-color: black;
    color: white;
}
.tournament{
    background-color: #32C7FF;
    height:280px;
    width:100%;
}
.tournament h2{
    font-family: karma;
    font-size: 50px;
    position: absolute;
    left: 420px;
    top: 100px;
}
.freefiree{
    position: absolute;
    height: 40px;
    width: 200px;
    border-radius: 12px;
    left: 125px;
    border: 1px solid black;
    font-family: 'Karma';
    top: 220px;
    font-size: 17px;
    margin: 10px 10px;
}
.pubgg{
    position: absolute;
    height: 40px;
    width: 200px;
    border-radius: 12px;
    left: 525px;
    border: 1px solid black;
    font-family: 'Karma';
    top: 220px;
    font-size: 17px;
    margin: 10px 10px;
}
.codd{
    position: absolute;
    height: 40px;
    width: 200px;
    border-radius: 12px;
    left: 925px;
    border: 1px solid black;
    font-family: 'Karma';
    top: 220px;
    font-size: 17px;
    margin: 10px 10px;
}
.tournament button{
    background-color: #32C7FF;
}
.tournament button:hover{
    box-shadow: 0 0 8px 0 red;
    background-color: black;
    color:azure;
}
.freefiretournamentsection{
    visibility: visible;
}
.solofftournament{
    position: absolute;
    top: 340px;
    height: 50vh;
    width: 85%;
    left: 90px;
    border: 1px solid #32C7FF;
    box-shadow: 0 0 8px 0 #32c7ff;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
}
.solofftournament img{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 100px;
    top: 10vh;
    border-radius: 20px;
}
.solofftournament h3{
    font-size: 33px;
    font-family: karma;
    position: absolute;
    top: 10px;
    left: 400px;
    background-color: white;
}
.solofftournament h4{
    background-color: white;
    display: inline-block;
    font-size: 21px;
    font-family: karma;
    position: relative;
    top: 80px;
    margin: 10px 65px;
    left: 300px;
}
.player{
    position: absolute;
    top: 25vh;
    left: 30vw;
    font-size: 1.3vw;
    font-family: karma;
}
.time{
    position: absolute;
    top: 25vh;
    left: 49vw;
    font-size: 1.3vw;
    font-family: karma;
}
.prize{
    position: absolute;
    top: 25vh;
    left: 65vw;
    font-size: 1.3vw;
    font-family: karma;
}
.seemore{
    background-color: #32C7FF;
    font-size: 21px;
    font-family: karma;
    position: absolute;
    top:35vh;
    margin: 10px 25px;
    left: 30vw;
    height: 40px;
    width: 150px;
    border: 1px solid black;
    font-family: 'Karma';
    font-size: 17px;
    border-radius: 10px;
}
.join{
    display: inline-block;
    background-color: #32C7FF;
    font-size: 21px;
    font-family: karma;
    position: absolute;
    top: 35vh;
    margin: 10px 65px;
    left: 700px;
    height: 40px;
    border-radius: 10px;
    width: 150px;
    border: 1px solid black;
    font-family: 'Karma';
    font-size: 17px;
}
.solofftournament p{
    position: absolute;
    top: 40vh;
    left: 130px;
    font-family: karma;
    font-size: 15px;
}
.solofftournament button:hover{
    box-shadow: 0 0 8px 0 red;
    background-color: black;
    color:azure;
}
.duofftournament{
    position: absolute;
    top: 125vh;
    height: 50vh;
    width: 85%;
    left: 90px;
    border: 1px solid #32C7FF;
    box-shadow: 0 0 8px 0 #32c7ff;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
}
.duofftournament img{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 100px;
    top: 30px;
    border-radius: 20px;
}
.duofftournament h3{
    font-size: 33px;
    font-family: karma;
    position: absolute;
    top: 10px;
    left: 400px;
    background-color: white;
}
.duofftournament h4{
    background-color: white;
    display: inline-block;
    font-size: 21px;
    font-family: karma;
    position: relative;
    top: 80px;
    margin: 10px 65px;
    left: 300px;
}
.duofftournament button:hover{
    box-shadow: 0 0 8px 0 red;
    background-color: black;
    color:azure;
}
.duofftournament p{
    position: absolute;
    top: 40vh;
    left: 130px;
    font-family: karma;
    font-size: 15px;
}
.squadfftournament{
    position: absolute;
    top: 194vh;
    height: 50vh;
    width: 85%;
    left: 90px;
    border: 1px solid #32C7FF;
    box-shadow: 0 0 8px 0 #32c7ff;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
}
.squadfftournament img{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 100px;
    top: 30px;
    border-radius: 20px;
}
.squadfftournament h3{
    font-size: 33px;
    font-family: karma;
    position: absolute;
    top: 10px;
    left: 400px;
    background-color: white;
}
.squadfftournament h4{
    background-color: white;
    display: inline-block;
    font-size: 21px;
    font-family: karma;
    position: relative;
    top: 80px;
    margin: 10px 65px;
    left: 300px;
}
.squadfftournament button:hover{
    box-shadow: 0 0 8px 0 red;
    background-color: black;
    color:azure;
}
.squadfftournament p{
    position: absolute;
    top: 40vh;
    left: 130px;
    font-family: karma;
    font-size: 15px;
}
.pubgtournamentsection{
    visibility: hidden;
}
.solopubgtournament{
    position: absolute;
    top: 340px;
    height: 55vh;
    width: 85%;
    left: 90px;
    border: 1px solid #32C7FF;
    box-shadow: 0 0 8px 0 #32c7ff;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
}
.solopubgtournament img{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 100px;
    top: 10vh;
    border-radius: 20px;
}
.solopubgtournament h3{
    font-size: 33px;
    font-family: karma;
    position: absolute;
    top: 10px;
    left: 400px;
    background-color: white;
}
.solopubgtournament h4{
    background-color: white;
    display: inline-block;
    font-size: 21px;
    font-family: karma;
    position: relative;
    top: 80px;
    margin: 10px 65px;
    left: 300px;
}
.seemore{
    background-color: #32C7FF;
    font-size: 21px;
    font-family: karma;
    position: absolute;
    top:35vh;
    margin: 10px 25px;
    left: 30vw;
    height: 40px;
    width: 150px;
    border: 1px solid black;
    font-family: 'Karma';
    font-size: 17px;
    border-radius: 10px;
}
.join{
    display: inline-block;
    background-color: #32C7FF;
    font-size: 21px;
    font-family: karma;
    position: absolute;
    top: 35vh;
    margin: 10px 65px;
    left: 700px;
    height: 40px;
    border-radius: 10px;
    width: 150px;
    border: 1px solid black;
    font-family: 'Karma';
    font-size: 17px;
}
.solopubgtournament p{
    position: absolute;
    top: 40vh;
    left: 130px;
    font-family: karma;
    font-size: 15px;
}
.solopubgtournament button:hover{
    box-shadow: 0 0 8px 0 red;
    background-color: black;
    color:azure;
}
.duopubgtournament{
    position: absolute;
    top: 125vh;
    height: 55vh;
    width: 85%;
    left: 90px;
    border: 1px solid #32C7FF;
    box-shadow: 0 0 8px 0 #32c7ff;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
}
.duopubgtournament img{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 100px;
    top: 30px;
    border-radius: 20px;
}
.duopubgtournament h3{
    font-size: 33px;
    font-family: karma;
    position: absolute;
    top: 10px;
    left: 400px;
    background-color: white;
}
.duopubgtournament h4{
    background-color: white;
    display: inline-block;
    font-size: 21px;
    font-family: karma;
    position: relative;
    top: 80px;
    margin: 10px 65px;
    left: 300px;
}
.duopubgtournament button:hover{
    box-shadow: 0 0 8px 0 red;
    background-color: black;
    color:azure;
}
.duopubgtournament p{
    position: absolute;
    top: 40vh;
    left: 130px;
    font-family: karma;
    font-size: 15px;
}
.squadpubgtournament{
    position: absolute;
    top: 194vh;
    height: 55vh;
    width: 85%;
    left: 90px;
    border: 1px solid #32C7FF;
    box-shadow: 0 0 8px 0 #32c7ff;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
}
.squadpubgtournament img{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 100px;
    top: 30px;
    border-radius: 20px;
}
.squadpubgtournament h3{
    font-size: 33px;
    font-family: karma;
    position: absolute;
    top: 10px;
    left: 400px;
    background-color: white;
}
.squadpubgtournament h4{
    background-color: white;
    display: inline-block;
    font-size: 21px;
    font-family: karma;
    position: relative;
    top: 80px;
    margin: 10px 65px;
    left: 300px;
}
.squadpubgtournament button:hover{
    box-shadow: 0 0 8px 0 red;
    background-color: black;
    color:azure;
}
.squadpubgtournament p{
    position: absolute;
    top: 40vh;
    left: 130px;
    font-family: karma;
    font-size: 15px;
}
.codtournamentsection{
    visibility: hidden;
}
.solocodtournament{
    position: absolute;
    top: 340px;
    height: 55vh;
    width: 85%;
    left: 90px;
    border: 1px solid #32C7FF;
    box-shadow: 0 0 8px 0 #32c7ff;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
}
.solocodtournament img{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 100px;
    top: 10vh;
    border-radius: 20px;
}
.solocodtournament h3{
    font-size: 33px;
    font-family: karma;
    position: absolute;
    top: 10px;
    left: 400px;
    background-color: white;
}
.solocodtournament h4{
    background-color: white;
    display: inline-block;
    font-size: 21px;
    font-family: karma;
    position: relative;
    top: 80px;
    margin: 10px 65px;
    left: 300px;
}
.seemore{
    background-color: #32C7FF;
    font-size: 21px;
    font-family: karma;
    position: absolute;
    top:35vh;
    margin: 10px 25px;
    left: 30vw;
    height: 40px;
    width: 150px;
    border: 1px solid black;
    font-family: 'Karma';
    font-size: 17px;
    border-radius: 10px;
}
.join{
    display: inline-block;
    background-color: #32C7FF;
    font-size: 21px;
    font-family: karma;
    position: absolute;
    top: 35vh;
    margin: 10px 65px;
    left: 700px;
    height: 40px;
    border-radius: 10px;
    width: 150px;
    border: 1px solid black;
    font-family: 'Karma';
    font-size: 17px;
}
.solocodtournament p{
    position: absolute;
    top: 40vh;
    left: 130px;
    font-family: karma;
    font-size: 15px;
}
.solocodtournament button:hover{
    box-shadow: 0 0 8px 0 red;
    background-color: black;
    color:azure;
}
.duocodtournament{
    position: absolute;
    top: 125vh;
    height: 55vh;
    width: 85%;
    left: 90px;
    border: 1px solid #32C7FF;
    box-shadow: 0 0 8px 0 #32c7ff;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
}
.duocodtournament img{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 100px;
    top: 30px;
    border-radius: 20px;
}
.duocodtournament h3{
    font-size: 33px;
    font-family: karma;
    position: absolute;
    top: 10px;
    left: 400px;
    background-color: white;
}
.duocodtournament h4{
    background-color: white;
    display: inline-block;
    font-size: 21px;
    font-family: karma;
    position: relative;
    top: 80px;
    margin: 10px 65px;
    left: 300px;
}
.duocodtournament button:hover{
    box-shadow: 0 0 8px 0 red;
    background-color: black;
    color:azure;
}
.duocodtournament p{
    position: absolute;
    top: 40vh;
    left: 130px;
    font-family: karma;
    font-size: 15px;
}
.squadcodtournament{
    position: absolute;
    top: 194vh;
    height: 55vh;
    width: 85%;
    left: 90px;
    border: 1px solid #32C7FF;
    box-shadow: 0 0 8px 0 #32c7ff;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
}
.squadcodtournament img{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 100px;
    top: 30px;
    border-radius: 20px;
}
.squadcodtournament h3{
    font-size: 33px;
    font-family: karma;
    position: absolute;
    top: 10px;
    left: 400px;
    background-color: white;
}
.squadcodtournament h4{
    background-color: white;
    display: inline-block;
    font-size: 21px;
    font-family: karma;
    position: relative;
    top: 80px;
    margin: 10px 65px;
    left: 300px;
}
.squadcodtournament button:hover{
    box-shadow: 0 0 8px 0 red;
    background-color: black;
    color:azure;
}
.squadcodtournament p{
    position: absolute;
    top: 40vh;
    left: 130px;
    font-family: karma;
    font-size: 15px;
}
.footer{
    width: 100%;
    height: 50vh;
    background-color: rgba(151, 149, 149, 1);
    position: absolute;
    top: 200vh;
}
