*{
    margin:0px;
    padding:0px;
 }
 .login img{
     height:100vh;
     width:50vw;
     border-radius: 10px;
 }
 .login h1{
     position: absolute;
     top:10vh;
     left:5vw;
     color:white;
     font-size: 60px;
     font-family: karma;
 }
 .login p{
     position: absolute;
     top:40vh;
     left:5vw;
     color:white;
     font-size: 20px;
     font-family: karma;
 }
 .logindiv{
     animation-name: firstanimation;
     animation-duration: 8s;
     animation-iteration-count: infinite;
     height: 400px;
     width: 400px;
     /* background-color: #32C7FF; */
     position: absolute;
     top: 150px;
     left: 730px;
     border-radius: 20px;
 }
 @keyframes firstanimation {
     0% {
        transform:rotateY(0deg)
     }
     50%{
         transform:rotateY(-30deg)
     }
     100%{
         transform:rotateY(0deg)
     }
 }
 .user{
    height: 22px;
    width: 22px;
    position: absolute;
    top: 50px;
    left: 90px;
}
 .mailimage{
     height:22px;
     width:22px;
     position: absolute;
     top:120px;
     left:90px;
 }
 .key1{
     height:22px;
     width:22px;
     position: absolute;
     top:190px;
     left:90px;
 }
 .key2{
    height: 22px;
    width: 22px;
    position: absolute;
    top: 260px;
    left: 90px;
}
.username {
    height: 30px;
    width: 20vw;
    position: absolute;
    top: 47px;
    left: 140px;
    border-radius: 1px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-top: 0px solid black;
}
 .mail{
     height: 30px;
     width: 200px;
     position: absolute;
     top: 117px;
     left: 140px;
     border-radius: 1px;
     text-align: center;
     font-size: 18px;
     border-bottom: 1px solid black;
     border-left: 0px solid black;
     border-right: 0px solid black;
     border-top: 0px solid black;
 }
 .password1{
     height: 30px;
     width: 200px;
     position: absolute;
     top: 187px;
     left: 140px;
     border-radius: 1px;
     text-align: center;
     font-size: 18px;
     border-bottom: 1px solid black;
     border-left: 0px solid black;
     border-right: 0px solid black;
     border-top: 0px solid black;
 }
 .password2{
    height: 30px;
    width: 20vw;
    position: absolute;
    top: 257px;
    left: 140px;
    border-radius: 1px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-top: 0px solid black;
}
 .logindiv a{
     position:absolute;
     top: 250px;
     left:150px;
     text-decoration: none;
     font-family: karma;
     font-size: 17px;
 }
 .logindiv a:hover{
     color:red;
 }
 .logindiv button{
     height: 40px;
     width: 90px;
     position: absolute;
     top:65vh;
     left: 190px;
     border-radius: 5px;
     font-family: karma;
     font-size: 21px;
     border: 1px solid black;
 }
 .logindiv button:hover{
     background-color: black;
     color: white;
     box-shadow: 0 0 8px 0 red;
 }
 .logindiv h1{
    position: absolute;
    top: -18vh;
    left: 10vw;
    font-family: karma;
    font-size: 40px;
 }
 .logindiv p{
    position: absolute;
    top: -7vh;
    left: 10vw;
    font-family: karma;
    font-size: 16px;
 }
 @media only screen and ( min-width:200px ) and (max-width:500px){
     .login img{
         height:90vh;
         width:100vw;
         border-radius: 10px;
     }
     .login h1{
         position: absolute;
         top:20vh;
         left:5vw;
         color:white;
         font-size: 11vw;
         font-family: karma;
     }
     .login p{
         position: absolute;
         top:40vh;
         left:5vw;
         color:white;
         font-size: 3.5vw;
         font-family: karma;
     }
     .logindiv{
         animation-name: firstanimation;
         animation-duration: 8s;
         animation-iteration-count: infinite;
         height:60vh;
         width:100vw;
         /* background-color: #32C7FF; */
         position: absolute;
         top: 120vh;
         left: 0vw;
         border-radius: 20px;
     }
     @keyframes firstanimation {
         0% {
            transform:rotateY(0deg)
         }
         50%{
             transform:rotateY(-30deg)
         }
         100%{
             transform:rotateY(0deg)
         }
      }
      .user{
        height: 22px;
        width: 22px;
        position: absolute;
        top: 50px;
        left: 15vw;
    }
     .mailimage{
         height:22px;
         width:22px;
         position: absolute;
         top:120px;
         left:15vw;
     }
     .key1{
         height:22px;
         width:22px;
         position: absolute;
         top:190px;
         left:15vw;
     }
     .key2{
        height: 22px;
        width: 22px;
        position: absolute;
        top: 260px;
        left: 15vw;
    }
     .username {
        height: 30px;
        width: 50vw;
        position: absolute;
        top: 47px;
        left: 30vw;
        border-radius: 1px;
        text-align: center;
        font-size: 14px;
        border-bottom: 1px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        border-top: 0px solid black;
    }
     .mail{
         height: 30px;
         width: 50vw;
         position: absolute;
         top: 117px;
         left: 30vw;
         border-radius: 1px;
         text-align: center;
         font-size: 14px;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
     }
     .password1{
         height: 30px;
         width: 50vw;
         position: absolute;
         top: 187px;
         left: 30vw;
         border-radius: 1px;
         text-align: center;
         font-size: 14px;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
     }
     .password2{
        height: 30px;
        width: 50vw;
        position: absolute;
        top: 257px;
        left: 30vw;
        border-radius: 1px;
        text-align: center;
        font-size: 14px;
        border-bottom: 1px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        border-top: 0px solid black;
    }
     .logindiv button{
         height: 40px;
         width: 90px;
         position: absolute;
         top: 360px;
         left: 40vw;
         border-radius: 5px;
         font-family: karma;
         font-size: 21px;
         border: 1px solid black;
     }
 }
 @media only screen and ( min-width:500px ) and (max-width:1000px){
     .login img{
         height:90vh;
         width:100vw;
         border-radius: 10px;
     }
     .login h1{
         position: absolute;
         top:20vh;
         left:5vw;
         color:white;
         font-size: 11vw;
         font-family: karma;
     }
     .login p{
         position: absolute;
         top:40vh;
         left:5vw;
         color:white;
         font-size: 22px;
         font-family: karma;
     }
     .logindiv{
         animation-name: firstanimation;
         animation-duration: 8s;
         animation-iteration-count: infinite;
         height:60vh;
         width:100vw;
         /* background-color: #32C7FF; */
         position: absolute;
         top: 120vh;
         left: 0vw;
         border-radius: 20px;
     }
     @keyframes firstanimation {
         0% {
            transform:rotateY(0deg)
         }
         50%{
             transform:rotateY(-30deg)
         }
         100%{
             transform:rotateY(0deg)
         }
      }
      .user{
        height: 22px;
        width: 22px;
        position: absolute;
        top: 50px;
        left: 15vw;
    }
     .mailimage{
         height:22px;
         width:22px;
         position: absolute;
         top:120px;
         left:15vw;
     }
     .key1{
         height:22px;
         width:22px;
         position: absolute;
         top:190px;
         left:15vw;
     }
     .key2{
        height: 22px;
        width: 22px;
        position: absolute;
        top: 260px;
        left: 15vw;
    }
     .username {
        height: 30px;
        width: 50vw;
        position: absolute;
        top: 47px;
        left: 30vw;
        border-radius: 1px;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        border-top: 0px solid black;
    }
     .mail{
         height: 30px;
         width: 50vw;
         position: absolute;
         top: 117px;
         left: 30vw;
         border-radius: 1px;
         text-align: center;
         font-size: 18px;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
     }
     .password1{
         height: 30px;
         width: 50vw;
         position: absolute;
         top: 187px;
         left: 30vw;
         border-radius: 1px;
         text-align: center;
         font-size: 18px;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
     }
     .password2{
        height: 30px;
        width: 50vw;
        position: absolute;
        top: 257px;
        left: 30vw;
        border-radius: 1px;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        border-top: 0px solid black;
    }
    .logindiv {
        animation-name: firstanimation;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        height: 400px;
        width: 400px;
        /* background-color: #32C7FF; */
        position: absolute;
        top: 50vh;
        left: 730px;
        border-radius: 20px;
    }
     .logindiv button{
         height: 40px;
         width: 90px;
         position: absolute;
         top: 370px;
         left: 40vw;
         border-radius: 5px;
         font-family: karma;
         font-size: 21px;
         border: 1px solid black;
     }
 }
 @media only screen and ( min-width:1000px ){
     .login img{
         height:100vh;
         width:59vw;
         border-radius: 10px;
     }
     .login h1 {
        position: absolute;
        top: 20vh;
        left: 5vw;
        color: white;
        font-size: 60px;
        font-family: karma;
    }
     .username {
        height: 30px;
        width: 20vw;
        position: absolute;
        top: 47px;
        left: 140px;
        border-radius: 1px;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        border-top: 0px solid black;
    }
     .mail {
         height: 30px;
         width: 20vw;
         position: absolute;
         top: 117px;
         left: 140px;
         border-radius: 1px;
         text-align: center;
         font-size: 18px;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
     }
     .password1 {
         height: 30px;
         width: 20vw;
         position: absolute;
         top: 187px;
         left: 140px;
         border-radius: 1px;
         text-align: center;
         font-size: 18px;
         border-bottom: 1px solid black;
         border-left: 0px solid black;
         border-right: 0px solid black;
         border-top: 0px solid black;
     }
     .password2{
        height: 30px;
        width: 20vw;
        position: absolute;
        top: 257px;
        left: 140px;
        border-radius: 1px;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        border-top: 0px solid black;
    }
    .logindiv {
        animation-name: firstanimation;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        height: 400px;
        width: 400px;
        /* background-color: #32C7FF; */
        position: absolute;
        top: 40vh;
        left: 730px;
        border-radius: 20px;
    }
     .logindiv button {
         height: 40px;
         width: 90px;
         position: absolute;
         top: 60vh;
         left: 18vw;
         border-radius: 5px;
         font-family: karma;
         font-size: 21px;
         border: 1px solid black;
     }
 }

 @media only screen and ( min-width:280px ) and (min-height:653px){
    .logindiv h1 {
        position: absolute;
        top: -18vh;
        left: 10vw;
        font-family: karma;
        font-size: 37px;
    }
    .logindiv button {
        height: 40px;
        width: 90px;
        position: absolute;
        top: 350px;
        left: 40vw;
        border-radius: 5px;
        font-family: karma;
        font-size: 21px;
        border: 1px solid black;
     }
}

@media only screen and ( min-width:540px ) and (min-height:720px){
    .login p {
        position: absolute;
        top: 40vh;
        left: 5vw;
        color: white;
        font-size: 19px;
        font-family: karma;
    }
}
@media only screen and (min-width:400px) and (max-height:400px){
    .login img {
        height: 130vh;
        width: 100vw;
        border-radius: 10px;
    }
    .login h1 {
        position: absolute;
        top: 29vh;
        left: 5vw;
        color: white;
        font-size: 8vw;
        font-family: karma;
    }
    .login p {
        position: absolute;
        top: 55vh;
        left: 3vw;
        color: white;
        font-size: 2.5vw;
        font-family: karma;
    }
    .logindiv {
        animation-name: firstanimation;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        height: 60vh;
        width: 90vw;
        /* background-color: #32C7FF; */
        position: relative;
        top: 35vh;
        left: 2vw;
        border-radius: 20px;
    }
    .logindiv h1 {
        position: absolute;
        top: -30vh;
        left: 10vw;
        font-family: karma;
        font-size: 32px;
    }
    .logindiv p {
        position: absolute;
        top: -7vh;
        left: 8vw;
        font-family: karma;
        font-size: 13px;
    }
}
@media only screen and (min-width:600px) and (max-height:400px){
    .login img {
        height: 165vh;
        width: 100vw;
        border-radius: 10px;
    }
    .login h1 {
        position: absolute;
        top: 25vh;
        left: 5vw;
        color: white;
        font-size: 8vw;
        font-family: karma;
    }
    .login p {
        position: absolute;
        top: 55vh;
        left: 3vw;
        color: white;
        font-size: 2.5vw;
        font-family: karma;
    }
    .logindiv {
        animation-name: firstanimation;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        height: 60vh;
        width: 90vw;
        /* background-color: #32C7FF; */
        position: relative;
        top: 35vh;
        left: 2vw;
        border-radius: 20px;
    }
    .logindiv h1 {
        position: absolute;
        top: -30vh;
        left: 10vw;
        font-family: karma;
        font-size: 32px;
    }
    .logindiv p {
        position: absolute;
        top: -7vh;
        left: 8vw;
        font-family: karma;
        font-size: 13px;
    }
}
@media only screen and (min-width:200px) and (max-width:1000px) {
    .footer {
        width: 100%;
        height: 50vh;
        background-color: rgba(151, 149, 149, 1);
        position: relative;
        top: 95vh;
    }
}
@media only screen and (min-width:1000px) and (max-width:2000px) {
    .footer{
        width: 100%;
        height: 50vh;
        background-color: rgba(151, 149, 149, 1);
        position:absolute;
        top: 120vh;
        }
}
@media only screen and (min-width: 400px) and (max-height: 400px){
    .footer{
        width: 100vw;
        height: 90vh;
        background-color: rgba(151, 149, 149, 1);
        position: absolute;
        top: 345vh;
    }
}