*{
    margin:0px;
    padding:0px;
}
.profile h1{
    position: absolute;
    top:25vh;
    left:10vw;
    font-family: karma;
    font-size: 2vw;
}
.profile h4{
    position: absolute;
    top:33vh;
    left:10vw;
    font-family: karma; 
    font-size: 1.5vw;  
    border-bottom: 2px solid #32C7FF;
    width:10vw;
}
.profile h2{
    position: absolute;
    top:55vh;
    left:10vw;
    font-family: karma; 
    font-size: 2vw;  
}
.profile h3{
    position: absolute;
    top:63vh;
    left:10vw;
    font-family: karma; 
    font-size: 1.5vw;
    border-bottom: 2px solid #32C7FF ;
    width:15vw;
}
.buttonbtn{
    position: absolute;
    top:170vh;
    left:10vw;
    height: 7vh;
    width: 12vw;
    font-family: karma; 
    font-size: 1.9vw;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #32C7FF;
}
.buttonbtn:hover{
    background-color: black;
    color: white;
}
.ffbtn{
    position: absolute;
    top:25vh;
    left:40vw;
    height: 7vh;
    width: 12vw;
    font-family: karma; 
    font-size: 1.9vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}
.ffbtn:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}
.freefirename{
    position: absolute;
    top:36vh;
    left:35vw;
    height: 55vh;
    width: 25vw;
}
.ingamename{
    position: absolute;
    top:10vh;
    left:4vw;
    font-family: karma; 
    font-size: 1.3vw;
    height: 5vh;
    width: 20vw;
    border-bottom: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.ingamenumber{
    position: absolute;
    top:25vh;
    left:4vw;
    font-family: karma; 
    font-size: 1.3vw;
    height: 5vh;
    width: 20vw;
    border-bottom: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.ffvalue{
    position: absolute;
    top:42vh;
    left:4vw;
    height: 7vh;
    width: 12vw;
    font-family: karma; 
    font-size: 1.9vw;
    border: 1px solid black;
    background-color:#32C7FF;
    border-radius: 5px;
}
.ffvalue:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}
.pubgbtn{
    position: absolute;
    top:25vh;
    left:60vw;
    height: 7vh;
    width: 12vw;
    font-family: karma; 
    font-size: 1.9vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}
.pubgbtn:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}
.pubgname{
    position: absolute;
    top:36vh;
    left:55vw;
    height: 55vh;
    width: 25vw;
    visibility: hidden;
}
.pubggamename{
    position: absolute;
    top:10vh;
    left:4vw;
    font-family: karma; 
    font-size: 1.3vw;
    height: 5vh;
    width: 20vw;
    border-bottom: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.pubgid{
    position: absolute;
    top:25vh;
    left:4vw;
    font-family: karma; 
    font-size: 1.3vw;
    height: 5vh;
    width: 20vw;
    border-bottom: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.pubgvalue{
    position: absolute;
    top:42vh;
    left:4vw;
    height: 7vh;
    width: 12vw;
    font-family: karma; 
    font-size: 1.9vw;
    border: 1px solid black;
    background-color:#32C7FF;
    border-radius: 5px;
}
.pubgvalue:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}
.codbtn{
    position: absolute;
    top:25vh;
    left:80vw;
    height: 7vh;
    width: 12vw;
    font-family: karma; 
    font-size: 1.9vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}
.codbtn:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}
.codname{
    position: absolute;
    top:36vh;
    left:73vw;
    height: 55vh;
    width: 25vw;
    visibility: hidden;
}
.codgamename{
    position: absolute;
    top:10vh;
    left:4vw;
    font-family: karma; 
    font-size: 1.3vw;
    height: 5vh;
    width: 20vw;
    border-bottom: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.codgameid{
    position: absolute;
    top:25vh;
    left:4vw;
    font-family: karma; 
    font-size: 1.3vw;
    height: 5vh;
    width: 20vw;
    border-bottom: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.codvalue{
    position: absolute;
    top:42vh;
    left:4vw;
    height: 7vh;
    width: 12vw;
    font-family: karma; 
    font-size: 1.9vw;
    border: 1px solid black;
    background-color:#32C7FF;
    border-radius: 5px;
}
.codvalue:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}
.gamedata{
    width:25vw;
    height: 90vh;
    position: absolute;
    top:80vh;
    left:10vw;
}
.freefiredata h2{
    position: absolute;
    top:5vh;
    font-size: 2vw;
    font-family: karma;
}
.freefiredata h3{
    position: absolute;
    top:15vh;
    font-size: 1.5vw;
    font-family: karma;
    border-bottom: 2px solid #32C7FF;
    width: 15vw;
}
.pubgdata h2{
    position: absolute;
    top:35vh;
    font-size: 2vw;
    font-family: karma;
}
.pubgdata h3{
    position: absolute;
    top:45vh;
    font-size: 1.5vw;
    font-family: karma;
    border-bottom: 2px solid #32C7FF;
    width: 15vw;
}
.coddata h2{
    position: absolute;
    top:65vh;
    font-size: 2vw;
    font-family: karma;
}
.coddata h3{
    position: absolute;
    top:75vh;
    font-size: 1.5vw;
    font-family: karma;
    border-bottom: 2px solid #32C7FF;
    width: 15vw;
}

@media only screen and (min-width:200px) and (max-width:500px){
    .profile h1{
        position: absolute;
        top:25vh;
        left:10vw;
        font-family: karma;
        font-size: 10vw;
    }
    .profile h4{
        position: absolute;
        top:33vh;
        left:10vw;
        font-family: karma; 
        font-size: 8vw;  
        border-bottom: 2px solid #32C7FF;
        width:45vw;
    }
    .profile h2{
        position: absolute;
        top:55vh;
        left:10vw;
        font-family: karma; 
        font-size: 10vw;  
    }
    .profile h3{
        position: absolute;
        top:63vh;
        left:10vw;
        font-family: karma; 
        font-size: 8vw;
        border-bottom: 2px solid #32C7FF ;
        width:65vw;
    }
    .buttonbtn{
        position: absolute;
        top:83vh;
        left:10vw;
        height: 8vh;
        width: 45vw;
        font-family: karma; 
        font-size: 8vw;
        border-radius: 5px;
        border: 1px solid black;
        background-color: #32C7FF;
    }
    .buttonbtn:hover{
        background-color: black;
        color: white;
    }
    .ffbtn{
        position: absolute;
        top: 100vh;
        left: 2vw;
        height: 5vh;
        width: 28vw;
        font-family: karma;
        font-size: 5vw;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
    }    
    .ffbtn:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    .freefirename{
        position: absolute;
        top:110vh;
        left:35vw;
        height: 55vh;
        width: 90vw;
    }
    .ingamename{
        position: absolute;
        top: 7vh;
        left: -27vw;
        font-family: karma;
        font-size: 5vw;
        height: 5vh;
        width: 77vw;
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .ingamenumber{
        position: absolute;
        top: 25vh;
        left: -27vw;
        font-family: karma;
        font-size: 5vw;
        height: 5vh;
        width: 77vw;
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .ffvalue{
        position: absolute;
        top: 42vh;
        left: 16vw;
        height: 5vh;
        width: 25vw;
        font-family: karma;
        font-size: 5vw;
        border: 1px solid black;
        background-color: #32C7FF;
        border-radius: 5px;
    }
    .ffvalue:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    .codbtn{
        position: absolute;
        top: 100vh;
        left: 93vw;
        height: 5vh;
        width: 28vw;
        font-family: karma;
        font-size: 5vw;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
    }    
    .codbtn:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    .codname{
        position: absolute;
        top:110vh;
        left:35vw;
        height: 55vh;
        width: 90vw;
    }
    .codgamename{
        position: absolute;
        top: 7vh;
        left: -27vw;
        font-family: karma;
        font-size: 5vw;
        height: 5vh;
        width: 77vw;
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .codgameid{
        position: absolute;
        top: 25vh;
        left: -27vw;
        font-family: karma;
        font-size: 5vw;
        height: 5vh;
        width: 77vw;
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .codvalue{
        position: absolute;
        top: 42vh;
        left: 16vw;
        height: 5vh;
        width: 25vw;
        font-family: karma;
        font-size: 5vw;
        border: 1px solid black;
        background-color: #32C7FF;
        border-radius: 5px;
    }
    .codvalue:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    
    .pubgbtn{
        position: absolute;
        top:100vh;
        left:47vw;
        height: 5vh;
        width: 28vw;
        font-family: karma; 
        font-size: 5vw;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
    }
    .pubgbtn:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    .pubgname{
        position: absolute;
        top:110vh;
        left:35vw;
        height: 55vh;
        width: 90vw;
    }
    .pubggamename{
        position: absolute;
        top: 7vh;
        left: -27vw;
        font-family: karma;
        font-size: 5vw;
        height: 5vh;
        width: 77vw;
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .pubgid{
        position: absolute;
        top: 25vh;
        left: -27vw;
        font-family: karma;
        font-size: 5vw;
        height: 5vh;
        width: 77vw;
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .pubgvalue{
        position: absolute;
        top: 42vh;
        left: 16vw;
        height: 5vh;
        width: 25vw;
        font-family: karma;
        font-size: 5vw;
        border: 1px solid black;
        background-color: #32C7FF;
        border-radius: 5px;
    }
    .pubgvalue:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    .gamedata{
        width:25vw;
        height: 90vh;
        position: absolute;
        top:170vh;
        left:10vw;
    }
    .freefiredata h2{
        position: absolute;
        top:5vh;
        font-size: 22px;
        font-family: karma;
        width:100vw;
    }
    .freefiredata h3{
        position: absolute;
        top:12vh;
        font-size: 17px;
        font-family: karma;
        border-bottom: 2px solid #32C7FF;
        width: 15vw;
    }
    .pubgdata h2{
        position: absolute;
        top:35vh;
        font-size: 22px;
        font-family: karma;
        width:100vw;
    }
    .pubgdata h3{
        position: absolute;
        top:42vh;
        font-size: 17px;
        font-family: karma;
        border-bottom: 2px solid #32C7FF;
        width: 15vw;
    }
    .coddata h2{
        position: absolute;
        top:65vh;
        font-size: 22px;
        font-family: karma;
        width:99vw;

    }
    .coddata h3{
        position: absolute;
        top:72vh;
        font-size: 17px;
        font-family: karma;
        border-bottom: 2px solid #32C7FF;
        width: 15vw;
    }
}

@media only screen and (min-width:500px) and (max-width:1000px){
    .profile h1{
        position: absolute;
        top:25vh;
        left:10vw;
        font-family: karma;
        font-size: 7vw;
    }
    .profile h4{
        position: absolute;
        top:33vh;
        left:10vw;
        font-family: karma; 
        font-size: 5vw;  
        border-bottom: 2px solid #32C7FF;
        width:35vw;
    }
    .profile h2{
        position: absolute;
        top:55vh;
        left:10vw;
        font-family: karma; 
        font-size: 7vw;  
    }
    .profile h3{
        position: absolute;
        top:63vh;
        left:10vw;
        font-family: karma; 
        font-size: 5vw;
        border-bottom: 2px solid #32C7FF ;
        width:55vw;
    }
    .buttonbtn{
        position: absolute;
        top: 83vh;
        left: 10vw;
        height: 8vh;
        width: 35vw;
        font-family: karma;
        font-size: 6vw;
        border-radius: 5px;
        border: 1px solid black;
        background-color: #32C7FF;
}
    .buttonbtn:hover{
        background-color: black;
        color: white;
    }
    .ffbtn{
        position: absolute;
        top: 100vh;
        left: 2vw;
        height: 7vh;
        width: 28vw;
        font-family: karma;
        font-size: 5vw;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
    }    
    .ffbtn:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    .freefirename{
        position: absolute;
        top:110vh;
        left:35vw;
        height: 55vh;
        width: 90vw;
    }
    .ingamename{
        position: absolute;
        top: 7vh;
        left: -27vw;
        font-family: karma;
        font-size: 5vw;
        height: 7vh;
        width: 77vw;
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .ingamenumber{
        position: absolute;
        top: 25vh;
        left: -27vw;
        font-family: karma;
        font-size: 5vw;
        height: 7vh;
        width: 77vw;
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .ffvalue{
        position: absolute;
        top: 42vh;
        left: 16vw;
        height: 7vh;
        width: 25vw;
        font-family: karma;
        font-size: 5vw;
        border: 1px solid black;
        background-color: #32C7FF;
        border-radius: 5px;
    }
    .ffvalue:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    .codbtn{
        position: absolute;
        top: 100vh;
        left: 93vw;
        height: 7vh;
        width: 28vw;
        font-family: karma;
        font-size: 5vw;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
    }    
    .codbtn:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    .codname{
        position: absolute;
        top:110vh;
        left:35vw;
        height: 55vh;
        width: 90vw;
    }
    .codgamename{
        position: absolute;
        top: 7vh;
        left: -27vw;
        font-family: karma;
        font-size: 5vw;
        height: 7vh;
        width: 77vw;
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .codgameid{
        position: absolute;
        top: 25vh;
        left: -27vw;
        font-family: karma;
        font-size: 5vw;
        height: 7vh;
        width: 77vw;
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .codvalue{
        position: absolute;
        top: 42vh;
        left: 16vw;
        height: 7vh;
        width: 25vw;
        font-family: karma;
        font-size: 5vw;
        border: 1px solid black;
        background-color: #32C7FF;
        border-radius: 5px;
    }
    .codvalue:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    .pubgbtn{
        position: absolute;
        top:100vh;
        left:47vw;
        height: 7vh;
        width: 28vw;
        font-family: karma; 
        font-size: 5vw;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
    }
    .pubgbtn:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    .pubgname{
        position: absolute;
        top:110vh;
        left:35vw;
        height: 55vh;
        width: 90vw;
    }
    .pubggamename{
        position: absolute;
        top: 7vh;
        left: -27vw;
        font-family: karma;
        font-size: 5vw;
        height: 7vh;
        width: 77vw;
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .pubgid{
        position: absolute;
        top: 25vh;
        left: -27vw;
        font-family: karma;
        font-size: 5vw;
        height: 7vh;
        width: 77vw;
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .pubgvalue{
        position: absolute;
        top: 42vh;
        left: 16vw;
        height: 7vh;
        width: 25vw;
        font-family: karma;
        font-size: 5vw;
        border: 1px solid black;
        background-color: #32C7FF;
        border-radius: 5px;
    }
    .pubgvalue:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    .gamedata{
        width:25vw;
        height: 90vh;
        position: absolute;
        top:170vh;
        left:10vw;
    }
    .freefiredata h2{
        position: absolute;
        top:5vh;
        font-size: 42px;
        font-family: karma;
        width:100vw;
    }
    .freefiredata h3{
        position: absolute;
        top:12vh;
        font-size: 33px;
        font-family: karma;
        border-bottom: 2px solid #32C7FF;
        width: 25vw;
    }
    .pubgdata h2{
        position: absolute;
        top:35vh;
        font-size: 42px;
        font-family: karma;
        width:100vw;
    }
    .pubgdata h3{
        position: absolute;
        top:42vh;
        font-size: 33px;
        font-family: karma;
        border-bottom: 2px solid #32C7FF;
        width: 25vw;
    }
    .coddata h2{
        position: absolute;
        top:65vh;
        font-size: 42px;
        font-family: karma;
        width:99vw;

    }
    .coddata h3{
        position: absolute;
        top:72vh;
        font-size: 33px;
        font-family: karma;
        border-bottom: 2px solid #32C7FF;
        width: 25vw;
    }
}
@media only screen and (min-width:1000px) and (max-width:1500px){
    .profile h1{
        position: absolute;
        top:25vh;
        left:10vw;
        font-family: karma;
        font-size: 2.5vw;
    }
    .profile h4{
        position: absolute;
        top:33vh;
        left:10vw;
        font-family: karma; 
        font-size: 1.8vw;  
        border-bottom: 2px solid #32C7FF;
        width:15vw;
    }
    .profile h2{
        position: absolute;
        top:55vh;
        left:10vw;
        font-family: karma; 
        font-size: 2.5vw;  
    }
    .profile h3{
        position: absolute;
        top:63vh;
        left:10vw;
        font-family: karma; 
        font-size: 1.8vw;
        border-bottom: 2px solid #32C7FF ;
        width:20vw;
    }
    .buttonbtn{
        position: absolute;
        top: 83vh;
        left: 10vw;
        height: 7vh;
        width: 11vw;
        font-family: karma;
        font-size: 2vw;
        border-radius: 5px;
        border: 1px solid black;
        background-color: #32C7FF;
    }
    .buttonbtn:hover{
        background-color: black;
        color: white;
    }
    .gamedata{
        width:25vw;
        height: 90vh;
        position: absolute;
        top:100vh;
        left:0vw;
    }
    .freefiredata h2{
        position: absolute;
        top:5vh;
        font-size: 32px;
        font-family: karma;
        width:40vw;
    }
    .freefiredata h3{
        position: absolute;
        top:13vh;
        font-size: 23px;
        font-family: karma;
        border-bottom: 2px solid #32C7FF;
        width: 20vw;
    }
    .pubgdata h2{
        position: absolute;
        top:35vh;
        font-size: 32px;
        font-family: karma;
        width:40vw;
    }
    .pubgdata h3{
        position: absolute;
        top:43vh;
        font-size: 23px;
        font-family: karma;
        border-bottom: 2px solid #32C7FF;
        width: 20vw;
    }
    .coddata h2{
        position: absolute;
        top:65vh;
        font-size: 32px;
        font-family: karma;
        width:40vw;

    }
    .coddata h3{
        position: absolute;
        top:73vh;
        font-size: 23px;
        font-family: karma;
        border-bottom: 2px solid #32C7FF;
        width: 20vw;
    }
}
@media only screen and (min-width:200px) and (max-width:1000px) {
    .footer{
        width: 100%;
        height: 50vh;
        background-color: rgba(151, 149, 149, 1);
        position: absolute;
        top: 170vh;
        }
    }
    @media only screen and (min-width:1000px) and (max-width:2000px) {
        .footer{
            width: 100%;
            height: 50vh;
            background-color: rgba(151, 149, 149, 1);
            position: absolute;
            top: 190vh;
            }
        }