{%include 'header.html'%}
{%load static%}
<link rel="stylesheet" href="{%static "aboutusss.css" %}">
<div class="aboutus">
    <p><b>Welcome To GamersZone We<br> Provide Hacker Free Platform<br> And Earn Real Money And <br>Many More Exiting Offers.</b></p>
    <ul>
       <li class="a">Less Entry Fees Earn High Prizes</li>
       <li class="b">GamersZone Gives You Hacker Free Tournament</li>
    </ul>
    <img src="{%static "OIP (3)_ccexpress.png" %}" alt="image">
</div>
<div class="about">
    <h1>AboutUs Section</h1>
    <h4>Best Tournament Website</h4>
    <div class="security">
    <img src="{%static "shield-halved-solid.svg" %}" alt="image">
    <p>All the sensitive details are encrypted for data transmission. Like your password, payment information, etc.</p>
    </div>
    <div class="fast">
    <img src="{%static "gauge-solid.svg" %}" alt="image">
    <p>Gamerzpocket built using latest technology, and taking a special care for its performance so user never hesitate for its performance.</p>
    </div>
    <div class="money">
    <img src="{%static "sack-dollar-solid.svg" %}" alt="image">
    <p>There is no points system or token or score or something else. people directly can earn a real money with NS e-Sports app.</p>
   </div>
   {%include 'footer.html'%}