<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "keywords" content = "Tournament website", "esports website","freefire tournament website","pubg tournament website","cod tournament website","best esports website","freefire esport website","pubg esport website","cod esport website","Call of Duty esport website">
    <meta name = "description" content = "This is a best tournament or esports website. In that website we oraganises free tournamnet on sunday and give prizes.In that website you can play play tournament or esport in FREEFIRE , PUBG , COD game.">
    <meta name = "author" content = "Bali Thakur">
    <meta name="google-site-verification" content="s8O8o8omvcWNSK0KRmY6rDrZx-xpdbl-1XHsso8C45c" />
    <title>Best ESports and Tournament Website | GamersZone</title>
    <link rel="stylesheet" href='{% static 'firstpage.css'%}'>
</head>
<body>
    <div class="herosection">
        <h1>GamersZone</h1>
        <p>Gamerszone is a 18+ Tournament/Esports website where you can play tournament and earn money.<br>By entering and using this website you agree to the <u>Terms of Use</u> and <u>Privacy Policy.</u></p>
        <button class="homebtn" id= "homebtn">I'm over 18</button>
    </div>
    <div class="exit">
        <p>If you are not 18+ then please leave this website</p>
        <button class="exitbtn" id="exitbtn">Exit here</button>
    </div>
    <script src= "{%static "firstpage.js" %}">
    </script>
</body>
</html>
