{%include "header.html"%}
{%load static%}
<link rel="stylesheet" href="{%static "usprofile.css" %}">
    <div class="profile">
        {%if request.user.is_authenticated%}
        <h1>UserName</h1>
        <h4>{{user.username}}</h4>
        <h2>Your E-Mail</h2>
        <h3>{{user.email}}</h3>
        {%endif%}
        <form action="profile" method="POST">
        {%csrf_token%}
        <div class="button">    
            <button class="buttonbtn" type="submit">LogOut</button>
        </div>
        </form>
        <button  class="ffbtn" id="ffbtn">FreeFire</button>
        <div class="freefirename" id="freefirename" >
            <form action="ffdata" method="POST">
            {%csrf_token%}
            <input type="text" placeholder="Enter Your FreeFire InGame Name" class="ingamename" name="fname" required>
            <input type="text" placeholder=" FreeFire InGame  IdNumber" class="ingamenumber" name="ffid" required>
            <button type="submit" class="ffvalue" id="ffvalue" > Submit</button>
            </form>
        </div>
        <button class="pubgbtn" id="pubgbtn">PUBG</button>
        <div class="pubgname" id="pubgname">
            <form action="pubgdata" method="POST">
            {%csrf_token%}
            <input type="text" placeholder="Enter Your PUBG InGame Name" class="pubggamename" name="pubgname">
            <input type="text" placeholder="Enter Your PUBG InGame Id Number" class="pubgid" id="pubgid" name="pubgid">
            <button type="submit" class="pubgvalue">Submit</button>
            </form>
        </div>
        <button type="submit" class="codbtn" id="codbtn">Call Of Duty</button>
        <div class="codname" id="codname">
            <form action="coddata" method="POST">
            {%csrf_token%}
            <input type="text" placeholder="Enter Your COD InGame Name" class="codgamename" name="codname">
            <input type="text" placeholder="Enter Your COD InGame Id Number" class="codgameid" name="codid">
            <button type="submit" class="codvalue">Submit</button>
            </form>
        </div>
        <!--<section class="gamedata">
            {%for ff in freefire%}
            <div class="freefiredata">
                <h2>Your Freefire InGameName</h2>
                <h3>{{ff.ffid}}</h3>
            </div>
            {%endfor%}
            <div class="pubgdata">
                <h2>Your pubg InGameName</h2>
                <h3>abc</h3>
            </div>
            <div class="coddata">
                <h2>Your cod InGameName</h2>
                <h3>abc</h3>
            </div>
        </section>-->
        <script>
            let ffbtn = document.getElementById("ffbtn")
            let ffsection = document.getElementById("freefirename");
            let ffsubmitbtn = document.getElementById("ffvalue")
            let pubgbtn = document.getElementById("pubgbtn");
            let pubgsection = document.getElementById("pubgname");
            let codbtnn = document.getElementById("codbtn");
            let codsection = document.getElementById("codname");
            ffbtn.onclick = () => {
                ffsection.style.visibility = "visible";
                pubgsection.style.visibility = "hidden";
                codsection.style.visibility = "hidden";
                ffbtn.style.backgroundColor = "#32C7FF";
                ffbtn.style.color = "black";
                pubgbtn.style.backgroundColor = "white";
                pubgbtn.style.color = "black";
                codbtn.style.backgroundColor = "white";
                codbtn.style.color = "black";
                ffbtn.style.border = "1px solid black";
                ffbtn.style.borderRadius = "5px";
            }
            pubgbtn.onclick = () => {
                ffsection.style.visibility = "hidden";
                pubgsection.style.visibility = "visible";
                codsection.style.visibility = "hidden";
                pubgbtn.style.backgroundColor = "#32C7FF";
                pubgbtn.style.color = "black";
                ffbtn.style.backgroundColor = "white";
                ffbtn.style.color = "black";
                codbtn.style.backgroundColor = "white";
                codbtn.style.color = "black";
                pubgbtn.style.border = "1px solid black";
                pubgbtn.style.borderRadius = "5px";
            }
            codbtnn.onclick = () => {
                ffsection.style.visibility = "hidden";
                pubgsection.style.visibility = "hidden";
                codsection.style.visibility = "visible";
                codbtn.style.backgroundColor = "#32C7FF";
                codbtn.style.color = "black";
                codbtn.style.border = "1px solid black";
                codbtn.style.borderRadius = "5px";
                ffbtn.style.backgroundColor = "white";
                ffbtn.style.color = "black";
                pubgbtn.style.backgroundColor = "white";
                pubgbtn.style.color = "black";
            }
            ffsubmitbtn.onclick = () => {
                ffsubmitbtn.style.visibility = "hidden"
            }
        </script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            {% for message in messages %}
                swal('{{ message }}')
            {%endfor%}
        </script>

{%include "footer.html"%}