<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tournamentsection.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,500&family=Source+Sans+Pro:ital@1&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karma:wght@300;400&family=Poppins:ital,wght@0,100;0,500;1,500&family=Source+Sans+Pro:ital,wght@0,600;0,700;1,400;1,600&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="homepage phone.css">
</head>
<body>
    <div class="navbar">
        <h1>GamersZone</h1>
        <nav>
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="aboutus.html">About US</a></li>
                <li><a href="tournamentsection.html">Tournaments</a></li>
                <li><a href="login.html">Log In</a></li>
                <li><a href="profile.html">My Profile</a></li>
                <li><a href="contact.html">Contact us</a></li>
            </ul>
        </nav>
        </div>
        <div class="tournament">
            <h2>Tournament Section</h2>
            <button class="freefiree" id="freefiree">FreeFire Tournament</button>
            <button class="pubgg" id="pubgg" >Pubg Tournament</button>
            <button class="codd" id="codd">COD Tournament</button>
        </div>
        <section class="freefiretournamentsection" id="freefiretournamentsection">
            <div class="solofftournament">
                <img src="bermuda-map_compress35.jpg" alt="bermuda map">
                <p>Bermuda Map</p>
                <h3>Solo FreeFire Tournament #1 Match</h3>
                <h4>Total PLayer</h4>
                <h5 class="player">total playr</h5>
                <h4>Time</h4>
                <h5 class="time">time</h5>
                <h4>Total Prize</h4>
                <h5 class="prize">prize</h5>
                <button class="seemore">See More</button>
                <button class="join">Join Tournament</button>
            </div>
            <div class="duofftournament">
                <img src="bermuda-map_compress35.jpg" alt="bermuda map">
                <p>Bermuda Map</p>
                <h3>Duo FreeFire Tournament #1 Match</h3>
                <h4>Total PLayer</h4>
                <h5 class="player">total playr</h5>
                <h4>Time</h4>
                <h5 class="time">time</h5>
                <h4>Total Prize</h4>
                <h5 class="prize">prize</h5>
                <button class="seemore">See More</button>
                <button class="join">Join Tournament</button>
            </div>
            <div class="squadfftournament">
                <img src="bermuda-map_compress35.jpg" alt="bermuda map">
                <p>Bermuda Map</p>
                <h3>Squad FreeFire Tournament #1 Match</h3>
                <h4>Total PLayer</h4>
                <h5 class="player">total playr</h5>
                <h4>Time</h4>
                <h5 class="time">time</h5>
                <h4>Total Prize</h4>
                <h5 class="prize">prize</h5>
                <button class="seemore">See More</button>
                <button class="join">Join Tournament</button>
            </div>
        </section>
        <section class="pubgtournamentsection" id="pubgtournamentsection">
            <div class="solopubgtournament">
                <img src="erangel map.jpg" alt=" map">
                <p>Erangel Map</p>
                <h3>Solo PUBG Tournament #1 Match</h3>
                <h4>Total PLayer</h4>
                <h5 class="player">total playr</h5>
                <h4>Time</h4>
                <h5 class="time">time</h5>
                <h4>Total Prize</h4>
                <h5 class="prize">prize</h5>
                <button class="seemore">See More</button>
                <button class="join">Join Tournament</button>
            </div>
            <div class="duopubgtournament">
                <img src="erangel map.jpg" alt=" map">
                <p>Erangel Map</p>
                <h3>Duo PUBG Tournament #1 Match</h3>
                <h4>Total PLayer</h4>
                <h5 class="player">total playr</h5>
                <h4>Time</h4>
                <h5 class="time">time</h5>
                <h4>Total Prize</h4>
                <h5 class="prize">prize</h5>
                <button class="seemore">See More</button>
                <button class="join">Join Tournament</button>
            </div>
            <div class="squadpubgtournament">
                <img src="erangel map.jpg" alt=" map">
                <p>Erangel Map</p>
                <h3>Squad PUBG Tournament #1 Match</h3>
                <h4>Total PLayer</h4>
                <h5 class="player">total playr</h5>
                <h4>Time</h4>
                <h5 class="time">time</h5>
                <h4>Total Prize</h4>
                <h5 class="prize">prize</h5>
                <button class="seemore">See More</button>
                <button class="join">Join Tournament</button>
            </div>
        </section>
        <section class="codtournamentsection" id="codtournamentsection">
            <div class="solocodtournament">
                <img src="call-of-duty-mobile-isolated-map.jpg" alt=" map">
                <p>Isolated Map</p>
                <h3>Solo COD Tournament #1 Match</h3>
                <h4>Total PLayer</h4>
                <h5 class="player">total playr</h5>
                <h4>Time</h4>
                <h5 class="time">time</h5>
                <h4>Total Prize</h4>
                <h5 class="prize">prize</h5>
                <button class="seemore">See More</button>
                <button class="join">Join Tournament</button>
            </div>
            <div class="duocodtournament">
                <img src="call-of-duty-mobile-isolated-map.jpg" alt=" map">
                <p>Isolated Map</p>
                <h3>Duo COD Tournament #1 Match</h3>
                <h4>Total PLayer</h4>
                <h5 class="player">total playr</h5>
                <h4>Time</h4>
                <h5 class="time">time</h5>
                <h4>Total Prize</h4>
                <h5 class="prize">prize</h5>
                <button class="seemore">See More</button>
                <button class="join">Join Tournament</button>
            </div>
            <div class="squadcodtournament">
                <img src="call-of-duty-mobile-isolated-map.jpg" alt="map">
                <p>Isolated Map</p>
                <h3>Squad COD Tournament #1 Match</h3>
                <h4>Total PLayer</h4>
                <h5 class="player">total playr</h5>
                <h4>Time</h4>
                <h5 class="time">time</h5>
                <h4>Total Prize</h4>
                <h5 class="prize">prize</h5>
                <button class="seemore">See More</button>
                <button class="join">Join Tournament</button>
            </div>
        </section>
        <div class="footer">
            <h1>GamersZone</h1>
            <img src="instagram-brands.svg" alt="instagram" class="instagram">
            <img src="facebook-f-brands.svg" alt="facebook" class="facebook">
            <img src="twitter-brands.svg" alt="twitter" class="twitter">
            <img src="youtube-brands.svg" alt="youtube" class="youtube">
            <h6>@copyright reserved</h6>
        </div> 
    <script>
       var freefirebtn=document.getElementById ("freefiree");
       var ffsection=document.getElementById ("freefiretournamentsection");
       var pubgsection=document.getElementById ("pubgtournamentsection");
       var codsection=document.getElementById ("codtournamentsection");
        freefirebtn.onclick=function kyou(){
            ffsection.style.visibility="visible";
            pubgsection.style.visibility="hidden";
            codsection.style.visibility="hidden";
        }
        var pubgbtn=document.getElementById ("pubgg");
        pubgbtn.onclick=function kyou(){
            ffsection.style.visibility="hidden";
            pubgsection.style.visibility="visible";
            codsection.style.visibility="hidden";
        }
        var codbtn=document.getElementById ("codd");
        codbtn.onclick=function kyou(){
            ffsection.style.visibility="hidden";
            pubgsection.style.visibility="hidden";
            codsection.style.visibility="visible";
        }
    </script>
</body>
</html>